{% extends 'base.html' %}

{% block title %}
    Gerenciador de Tarefas
{% endblock %}

{% block content %}
    <navbar>
        <a href="{% url 'tasks_list' %}">Lista de tarefas</a> |
        <a href="{% url 'create_task' %}">Adicionar tarefa</a>
    </navbar>
    <h1>Gerenciador de Tarefas</h1>
    <!-- <div>
        {% include 'tasks_list.html' %}
    </div> -->
    <a href="{% url 'tasks_list' %}">Lista de tarefas</a> |
    <a href="{% url 'create_task' %}">Adicionar tarefa</a>
{% endblock %}
